<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.nickaroot.rfservicemodule</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.frameworkBase</string>
		<string>com.apple.dt.unit.languageChoice</string>
		<string>com.apple.dt.unit.iosBase</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template creates a Rocket Foods Service</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>AssociatedTargetSpecification</key>
	<dict>
		<key>PopUpTitle</key>
		<string>Embed in Application:</string>
		<key>PopUpDescription</key>
		<string>The application target that will host this new framework. The application will be set up to link to and embed the new framework.</string>
		<key>AllowableProductTypes</key>
		<array>
			<string>com.apple.product-type.application</string>
			<string>com.apple.product-type.application.messages</string>
		</array>
		<key>AllowablePlatforms</key>
		<array>
			<string>com.apple.platform.iphoneos</string>
		</array>
		<key>AssociatedTargetIsDependent</key>
		<true/>
		<key>AssociatedTargetNeedsProductBuildPhaseInjection</key>
		<true/>
	</dict>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Objective-C</key>
				<dict>
					<key>Nodes</key>
					<array/>
				</dict>
				<key>Swift</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>.sourcery.yml</string>
						<string>___VARIABLE_modulePrefix___Service.swift</string>
						<string>___VARIABLE_modulePrefix___Service+___VARIABLE_entitiesCapitalized___.swift</string>
						<string>___VARIABLE_modulePrefix___Service+Realm.swift</string>
						<string>___VARIABLE_modulePrefix___Service+Requests.swift</string>
						<string>Entities/___VARIABLE_entityCapitalized___Model.swift</string>
						<string>Entities/Generated/___VARIABLE_entityCapitalized___Object.swift</string>
					</array>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>modulePrefix</string>
			<key>Name</key>
			<string>Prefix</string>
			<key>Description</key>
			<string>Enter module prefix</string>
			<key>Type</key>
			<string>text</string>
			<key>Required</key>
			<true/>
			<key>NotPersisted</key>
			<false/>
			<key>SortOrder</key>
			<integer>100</integer>
			<key>Default</key>
			<string></string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>entityCapitalized</string>
			<key>Name</key>
			<string>Entity Name Capitalized</string>
			<key>Description</key>
			<string>Enter entity name capitalized</string>
			<key>Type</key>
			<string>text</string>
			<key>Required</key>
			<true/>
			<key>NotPersisted</key>
			<false/>
			<key>SortOrder</key>
			<integer>100</integer>
			<key>Default</key>
			<string></string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>entityLowercased</string>
			<key>Name</key>
			<string>Entity Name Lowercased</string>
			<key>Description</key>
			<string>Enter entity name lowercased</string>
			<key>Type</key>
			<string>text</string>
			<key>Required</key>
			<true/>
			<key>NotPersisted</key>
			<false/>
			<key>SortOrder</key>
			<integer>100</integer>
			<key>Default</key>
			<string></string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>entitiesCapitalized</string>
			<key>Name</key>
			<string>Entities Name Capitalized</string>
			<key>Description</key>
			<string>Enter entities name capitalized</string>
			<key>Type</key>
			<string>text</string>
			<key>Required</key>
			<true/>
			<key>NotPersisted</key>
			<false/>
			<key>SortOrder</key>
			<integer>100</integer>
			<key>Default</key>
			<string></string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>entitiesLowercased</string>
			<key>Name</key>
			<string>Entities Name Lowercased</string>
			<key>Description</key>
			<string>Enter entities name lowercased</string>
			<key>Type</key>
			<string>text</string>
			<key>Required</key>
			<true/>
			<key>NotPersisted</key>
			<false/>
			<key>SortOrder</key>
			<integer>100</integer>
			<key>Default</key>
			<string></string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>hasUnitTests</string>
			<key>Name</key>
			<string>Include Unit Tests</string>
			<key>NotPersisted</key>
			<false/>
			<key>SortOrder</key>
			<integer>100</integer>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>true</string>
			<key>Units</key>
			<dict>
				<key>true</key>
				<dict>
					<key>Components</key>
					<array>
						<dict>
							<key>Identifier</key>
							<string>com.apple.dt.unit.cocoaTouchFrameworkUnitTestBundle</string>
							<key>Name</key>
							<string>___PACKAGENAME___Tests</string>
						</dict>
					</array>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>TargetIdentifier</key>
			<string>com.apple.dt.cocoaTouchLibraryOrFrameworkTarget</string>
			<key>SharedSettings</key>
			<dict>
				<key>LD_RUNPATH_SEARCH_PATHS</key>
				<string>$(inherited) @executable_path/Frameworks @loader_path/Frameworks</string>
				<key>FRAMEWORK_SEARCH_PATHS</key>
				<string>$(inherited) $(PROJECT_DIR)/Carthage/Build/iOS</string>
				<key>TARGETED_DEVICE_FAMILY</key>
				<string>1</string>
				<key>IPHONEOS_DEPLOYMENT_TARGET</key>
				<string>11.0</string>
				<key>SUPPORTS_MACCATALYST</key>
				<string>NO</string>
			</dict>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>___TARGETNAME:c99ExtIdentifier___.h</key>
		<dict>
			<key>TargetIdentifiers</key>
			<array>
				<string>com.apple.dt.cocoaTouchLibraryOrFrameworkTarget</string>
			</array>
			<key>BuildAttributes</key>
			<array>
				<string>Public</string>
			</array>
		</dict>
		<key>.sourcery.yml</key>
		<dict>
			<key>Path</key>
			<string>.sourcery.yml</string>
		</dict>
		<key>___VARIABLE_modulePrefix___Service.swift</key>
		<dict>
			<key>Path</key>
			<string>___VARIABLE_modulePrefix___Service.swift</string>
		</dict>
		<key>___VARIABLE_modulePrefix___Service+___VARIABLE_entitiesCapitalized___.swift</key>
		<dict>
			<key>Path</key>
			<string>___VARIABLE_modulePrefix___Service+___VARIABLE_entitiesCapitalized___.swift</string>
		</dict>
		<key>___VARIABLE_modulePrefix___Service+Realm.swift</key>
		<dict>
			<key>Path</key>
			<string>___VARIABLE_modulePrefix___Service+Realm.swift</string>
		</dict>
		<key>___VARIABLE_modulePrefix___Service+Requests.swift</key>
		<dict>
			<key>Path</key>
			<string>___VARIABLE_modulePrefix___Service+Requests.swift</string>
		</dict>
		<key>Entities/___VARIABLE_entityCapitalized___Model.swift</key>
		<dict>
			<key>Path</key>
			<string>Entities/___VARIABLE_entityCapitalized___Model.swift</string>
			<key>Group</key>
			<array>
				<string>Entities</string>
			</array>
		</dict>
		<key>Entities/Generated/___VARIABLE_entityCapitalized___Object.swift</key>
		<dict>
			<key>Path</key>
			<string>Entities/Generated/___VARIABLE_entityCapitalized___Object.swift</string>
			<key>Group</key>
			<array>
				<string>Entities</string>
				<string>Generated</string>
			</array>
		</dict>
	</dict>
	<key>Template Author</key>
	<string>Nick Aroot @nickaroot</string>
</dict>
</plist>
